/*
Theme Name:   Design System Wordpress HPOROO Child Theme
Theme URI:    https://github.com/bcgov/design-system-wordpress-child-theme-hporoo
Version:      1.0.0
Template:     design-system-wordpress-theme
*/