.DS_Store
node_modules
vendor
coverage
dist
.cache
.temp
.idea
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.audit
.phpdocs
.phpunit.result.*
tests/_output
documentation/docs/.vuepress/dist/**
documentation/docs/.vuepress/.temp
documentation/docs/.vuepress/.cache
documentation/node_modules

# e2e testing artifacts
artifacts/
test-results/