# Build artifacts
build
dist

# Dependencies
node_modules
vendor

# Lock files
composer.lock
package-lock.json
pnpm-lock.yaml

# PHP/HTML files (use js-beautify currently as prettier causes WP block recovery issues)
*.php
*.html