.gitattributes	                export-ignore
.gitignore	                    export-ignore
.gitkeep                        export-ignore
.wp-env.json                    export-ignore
playwright.regression.config.js export-ignore
package-lock.json	            export-ignore
package.json	                export-ignore
README.md	                    export-ignore
documentation                   export-ignore
tests                           export-ignore
