{
	"$schema": "https://schemas.wp.org/trunk/block.json",
	"apiVersion": 3,
	"name": "<%= slug %>/sample-block",
	"version": "0.0.1",
	"title": "<%= name %>",
	"category": "widgets",
	"icon": "media-document",
	"description": "<%= description %>",
	"example": {},
	"supports": {
		"html": false
	},
	"textdomain": "<%= slug %>",
	"editorScript": "file:./index.js",
	"editorStyle": "file:./index.css",
	"style": "file:./style-index.css",
	"viewScript": "file:./view.js"
}
